.remark-slide-content {
  background-color: #FAFAFA;
  border-top: 50px solid #23373B;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0em 2em 0em 2em
}

.remark-slide-content > h2, h3, h4 {
  padding-top: -20px;
  padding-bottom: 00px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 00px;
  margin-bottom: -10px;
}

.inverseMSU {
  background-color: #18453B;
  color: white;
  text-shadow: 0 0 20px #333;
  border-top: 50px solid black;
}



.inverseMSU h2, .inverseMSU h3{
  color: white;}
  
.inverseMSU code{color: black;}

.inverse code{color: black;}
.inverse h2{color: gray;}

.inverseMSU>h1{
  position: absolute;
  font-size: 40px;
  padding-top: 1em;
  margin-left: -30px;
} 





.MSU {
  background-color: white;
  color: black;
  border-top: 50px solid #18453B;
  text-shadow: 0 0 0 #333;
}

.MSU>h1{
  position: absolute;
  font-size: 40px;
  padding-top: 1em;
  margin-left: -30px;
} 

.MSU h2{
  color: #18453B;}

.MSU h3{
  color: black;}
  
.clear{
  border-top: 0px solid white;
  background-color: white;
}


.footnote {
  position: absolute;
  bottom: 2em;
  padding-right: 4em;
  font-size: 70%;
}


.font300 {
  font-size: 300%;
}

.font80 {
  font-size: 80%%;
}


.font400 {
  font-size: 400%;
}  


.title-slide {
  border-top: 50px solid #18453B;
  background-color: #18453B;
}


.title-slide > h1  {
  color: #FAFAFA;
  font-size: 40px;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: #C2C2C2;
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  text-align: left;
  margin-left: 15px;
}
.title-slide > h3  {
  color: #C2C2C2;
  text-shadow: none;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -30px;
}

.heading-slide {
  background-color: #18453B;  /* blue background */
  color: #fff;                /* white text*/
  text-shadow: 0 0 0;         /* no text shadow */
  border-bottom: 0;           /* no border */
  font-size: 90px;            /* large text size */
  font-weight: bold;          /* headings are bold */
  padding-left: 1em;
}


div.msu-header {
content: "";
    position: absolute;
    top: 10px;
    right:   10px;
    height: 40px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://cdn.cabs.msu.edu/brand/images/masthead-helmet-white.svg");
}

.pseudocode, .pseudocode-small {
  font-family: monospace;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}
.pseudocode-small {
  font-size: 20px;
}



.more-left {
  float: left;
  width: 63%;
}

.less-right {
  float: right;
  width: 31%;
}

.more-right ~ * {
  clear: both;
}

.red {
color: red;
}

.blue {
  color: blue;
}

.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
                                    font-size: 70%;
                                  }


table {
 padding: 10px
}


th,td{
     padding:15px 15px 15px 15px;
   }

